/* .n1{
    position: fixed;
} */
.c{
    border-right: 1px solid rgb(209, 202, 202);
}
a{
    color: black;
    text-decoration: none;
}
.b{
    border: 1px solid rgb(201, 192, 192); 
}
.e{
    border-top: 1px solid rgb(212, 202, 202);
    border-left: 1px solid rgb(189, 183, 183);
    border-right: 1px solid rgb(183, 171, 171);
}
.f{
    color: rgb(178, 176, 176);
}
.i{
    border-radius: 50%;
    width: 50px;
}

.d{
    padding-top: 100px;
    border-bottom: 2px solid rgb(129, 77, 25);
}
.g{
    border-bottom: 1px solid rgb(209, 203, 203) ;
}
a.h{
    color: black;
}
a.j{
    border-bottom: 1px solid black; 
}
.m{
    color: rgb(237, 233, 233);
}
a.m:hover{
    color: white;
   }
.k{
    width: 10px;
 
}
.l{
    width: 60px;
}
.n{
    font-size: 10px;
    color: rgb(224, 222, 222);
}
.o{
    font-size:9px ;
}