.a1{background-color: rgb(5,173,238); }
.a2{width: 20px;}
a.one{color: rgb(61,59,59);}
.a3{background-image: url(../website6/images/banner-01.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 600px;}
.a4{color: white;
font-size: 50px;
text-align: center;
padding-top: 150px;}
.a5{color:black;
font-size: 50px;
text-align: center;}