.f{
    background-color: rgb(10, 10, 44);
}
.c{
    color: rgb(247, 157, 47);
}
.p{
    color: rgb(163, 158, 158);
}
.g{
    border-bottom: 1px solid rgb(134, 134, 134);
}
.d{
    font-size: 20px;
}
.a{
    font-weight: 700;
    font-size: 50px;
}
.b{
    padding: 10px 30px 10px 30px;
    background-color: rgb(241, 102, 102);
    color: white;
}
.b:hover{
    background-color:rgb(9, 9, 42);
}
.e{
    color: rgb(156, 152, 152);
}
.n1:hover{
    color: rgb(136, 39, 39);
}
a.n1{
    color: black;
}
.d:hover{
    background-color: rgb(242, 153, 45);
}